    .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    /* Optional: background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Ensure it appears on top of everything */
}

.loading-logo {
    width: 150px;
    /* Adjust the size of your logo */
    height: auto;
}

.loadingvideo {
    width: 250px;
    height: auto;
}